.register{
    width:100%;
   height:100vh;
    background-color: aquamarine;
}
.login{
    width:100%;
   height:100vh;
    background-color: aquamarine;
    margin:auto auto;
}

.email-green{
    border-color: rgb(154, 243, 11);
    
}
.email-red{
    
    border-color:red;
}